/* 

CSS for contact email page

*/


body {

    font-family: Arial, Helvetica, sans-serif;

}

.cyan_line {

    background-color: rgb(74, 170, 164);
    height: 10px;
    width: 100%;

}

#main {

    background-image: url("https://s19.postimg.org/edixf91z7/shattered.png");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.contact_form {

    background-color: #fff;
    padding: 20px;
    /* width: 100%; */
    margin-left: 40px;
    margin-right: 40px;

}

.contact_form h2{

    text-align: center;

}

/*

Form styling taken from the following source:
https://www.w3schools.com/css/tryit.asp?filename=trycss_forms

*/

input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {

    width: 120px; /* modification - changed from width 100% - MSW */
    background-color: rgb(74,170,164);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}

input[type=submit]:hover {

    background-color: #45a049;
    transition-duration: 1000ms;
}

/* Styling placeholder */
input::placeholder {

    color:  #ccc;
    font-size: 16px;

  }

/* Styling textarea - MSW */
textarea {

    width:100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#connect {

    background-color:#fff;
    width: 300px;
    margin: 0 auto;
    padding-top:20px;
    text-align: center;

}

#connect img {

    width: 100px;

}

/* Doesn't work yet - will come back to it

Want to have the size of the social media icons change when
hover occurs

#connect a:hover{
    width: 200px;
    height: 200px;
    transition-duration: 800ms;
    
} */

.footer {

    color:#fff;
    background-color: rgb(102,102,102);
    height: 70px;
    text-align: center;
    padding-top: 20px;

}
