/* 

CSS for Responsive portfolio page - Matthew Womack, 2018
Last updated Jan 29, 2018.

*/

body {

    font-family: Arial, Helvetica, sans-serif;

}


h2 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

hr {

    color:rgb(74,170,164);
   
}

.cyan_line {

    background-color: rgb(74, 170, 164);
    height: 10px;
    width: 100%;
}

.main {

    background-image: url("https://s19.postimg.org/edixf91z7/shattered.png");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.portfolio {

    background-color:#fff;
    padding-bottom: 20px;
    text-align: center;  
}


.project img {

    width: 250px;
}

#project {

    padding:10px;
    width: 250px;
    text-align: center;
    margin: 0 auto;

}

.text_overlay {
    
        position: absolute;
        top:60px;
        background-color: rgb(74,170,164);
        color:#fff;
        width:250px;
        text-align: center;
        opacity: 0.5;
        
}

.text_overlay:hover {

    opacity: 1.0;
    transition-duration: 800ms;

}

#connect {

    background-color:#fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

#connect img {

    width: 100px;

}

/*
Doesn't work yet - will come back to it

Want to have the size of the social media icons change when
hover occurs

#connect a:hover{
    width: 200px;
    height: 200px;
    transition-duration: 800ms;
} */

.footer {

    position:fixed;
    color:#fff;
    background-color: rgb(102,102,102);
    height: 90px;
    text-align: center;
    padding-top: 20px;

}