/*
Style Sheet for Responsive Portfolio - Matthew Womack, 2018
Last updated - Jan 29th 2018.
*/

body {

    font-family: Arial, Helvetica, sans-serif;
}

#about_me {

    background-color:#fff;
    padding: 20px 20px 0px 20px;
}

#about_me h2 {

    text-align: center
}

#about_me img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;

}

#connect {

    top: 40px;
    right: 140px;
    background-color:#fff;
    width: 300px;
    padding: 20px;
    text-align: center;

}

#connect img {

    width: 100px;

}

.cyan_line {

    background-color: rgb(74, 170, 164);
    height: 10px;
    width: 100%;

}

#main {

    background-image: url("https://s19.postimg.org/edixf91z7/shattered.png");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.footer {

    color:#fff;
    background-color: rgb(102,102,102);
    height: 90px;
    text-align: center;
    padding-top: 20px;

}